<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
<head>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/select-box/latest/toastui-select-box.css">
<!-- <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@5.21.1/dist/css/themes/bootstrap/bootstrap.min.css" rel="stylesheet" integrity="sha384-+d0g/xwrqc+suQ74C3VDRRcuOmSa3d1dlJGH4M04eYlHdwXYgTrttDYs+K0J/5L4" crossorigin="anonymous"> -->

<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://uicdn.toast.com/select-box/latest/toastui-select-box.js"></script>

</head>
<style>
	
</style>
<body>
<th:block layout:fragment="content">
	<div class="custom-body container-xxl flex-grow-1 container-p-y">
		<h2>전자 결재</h2>
			<div class="d-flex justify-content-between">
			<div class="d-flex" style="height: 38.94px;">
	            <div class="mb-6 mb-0" style="width: 180px;">
	            	<select class="form-select" onchange="draftValFn(this)">
	            		<option value="기안서" selected>기안서</option>
	            		<option name="draft" value="휴가(연차)신청서">휴가(연차)신청서</option>
						<option name="draft" value="인사발령신청서">인사발령신청서</option>
						<option name="draft" value="지출결의서">지출결의서</option>
						<option name="draft" value="자유양식결재서">자유양식결재서</option>
	            	</select>
	            </div>
	            <div class="d-flex justify-content-end" style="margin-left: 5px;">
						<button onclick="defaultPrint()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#approval-modal" style="width: 71px;">
						작성
						</button>
		        </div>
		        <div class="row flex-nowrap" style="margin-left: 389px;">
					<div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
						<input type="date" name="startDate" class="form-control">
					</div>
	                ~
	                <div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
		                <input type="date" name="endDate" class="form-control">
	                </div>
	                 <input class="form-control" type="text" placeholder="기안자및문서이름" style="width: 200px;height: 38.94px;">
	                <div class="mb-6 col-lg-6 col-xl-3 col-12 mb-0">
		             	<button class="btn btn-primary">검색</button>
	                </div>
				</div>
			</div>
		</div>
		<hr>
		<div style="margin-top: 15px;">
			<nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
			    <button class="nav-link active" id="nav-approval-tab" data-bs-toggle="tab" data-bs-target="#nav-approval" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
			    	결재사항
			    </button>
			    <button class="nav-link" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
			    	전체결재
			    </button>
			    <button class="nav-link" id="nav-my-tab" data-bs-toggle="tab" data-bs-target="#nav-my" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
			    	내 결재목록
			    </button>
			    <button class="nav-link" id="nav-waiting-tab" data-bs-toggle="tab" data-bs-target="#nav-waiting" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
			    	결재대기
			    </button>
			    <button class="nav-link" id="nav-done-tab" data-bs-toggle="tab" data-bs-target="#nav-done" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
			    	결재완료
			    </button>
			  </div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
			  <div class="tab-pane fade show active" id="nav-approval" role="tabpanel" aria-labelledby="nav-approval-tab">
			  	<h2>결재사항</h2>
			  	<div id="approvalGrid"></div>
			  </div>
			  <div class="tab-pane fade active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
			  		<h2>전체결재</h2>
			  		<div id="allApprovalGrid"></div>
			  </div>
			  <div class="tab-pane fade active" id="nav-my" role="tabpanel" aria-labelledby="nav-my-tab">
			  		<h2>내 결재목록</h2>
			  		<div id="myApprovalGrid"></div>
			  </div>
			  <div class="tab-pane fade active" id="nav-waiting" role="tabpanel" aria-labelledby="nav-waiting-tab">
			  		<h2>결재대기</h2>
					<div id="waitingApprovalGrid"></div>
			  </div>
			  <div class="tab-pane fade active" id="nav-done" role="tabpanel" aria-labelledby="nav-done-tab">
			  		<h2>결재완료</h2>
					<div id="doneApprovalGrid"></div>
			  </div>
			</div>
		</div>
		<!-- 모달 -->
		<div class="modal fade" id="approval-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
		    <div class="modal-content">
		      <div class="modal-header" data-draggable="true">
		        <h3 class="modal-title" id="Drafting">기안서 작성</h3>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <h5 class="d-flex">문서 날짜 : <p id="today-date"></p></h5>
		        <h5 class="d-flex">
					<label class="p-1" style="width: 200px;"> 문서 제목 </label> 	                 
		        	<input class="form-control" type="text" placeholder="문서제목" style="width:800px;height: 38.94px;">
		        </h5>
		        <h5 class="d-flex">
					<label class="p-1" style="width: 200px;">양식 종류 </label> 
		        	<div class="mb-6 mb-0" style="width: 344px;">
		            	<select class="form-select" onchange="draftValFn(this)">
		            		<option selected>기안서</option>
		            		<option name="draft" value="휴가(연차)신청서">휴가(연차)신청서</option>
							<option name="draft" value="인사발령신청서">인사발령신청서</option>
							<option name="draft" value="지출결의서">지출결의서</option>
							<option name="draft" value="자유양식결재서">자유양식결재서</option>
		            	</select>
	            	</div>
		        </h5>
		        <h5 class="d-flex">
					<label class="p-1" style="width: 200px;">결재자명(기안자)</label> 
		        	<div class="mb-6 mb-0" style="width: 344px;">
		            	 <select class="form-select">
		            		<option selected>이름(사번)</option>
		            		 <option th:each="item, iterStat : ${empList}" 
							 		th:value="${iterStat.index}" 
							 		th:text="${iterStat.index} + ' : ' + ${item.empName} + '(' + ${item.empId} + ')'">
							 </option>

		            	</select> 
	            	</div>
		        </h5>
		        <h5 class="d-flex">
					<label class="p-1" style="width: 200px;">결재완료기간</label>
		        	<div class="row flex-nowrap">
						<div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
							<input type="date" name="startDate" class="form-control">
						</div>
		                ~
		                <div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
			                <input type="date" name="endDate" class="form-control">
		                </div>
					</div>
		        </h5>
		        <h5 class="d-flex">
					<label class="p-1" style="width: 200px;">기간-휴가(연차)신청서 [기본-hidden]</label>
		        	<div class="row flex-nowrap">
						<div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
							<input type="date" name="startDate" class="form-control">
						</div>
		                ~
		                <div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
			                <input type="date" name="endDate" class="form-control">
		                </div>
					</div>
		        </h5>
		        <h5 class="d-flex">
					<label class="p-1" style="width: 200px;">휴가종류-휴가(연차)신청서 [기본-hidden]</label>
		        	<div class="mb-6 mb-0" style="width: 344px;">
		            	<select class="form-select">
		            		<option selected></option>
		            		<option name="leave" value="연차유급휴가">연차유급휴가</option>
							<option name="leave" value="출산전후휴가">출산전후휴가</option>
							<option name="leave" value="배우자출산휴가">배우자출산휴가</option>
							<option name="leave" value="생리휴가">생리휴가</option>
							<option name="leave" value="가족돌봄휴가">가족돌봄휴가</option>
							<option name="leave" value="경조사휴가">경조사휴가</option>
							<option name="leave" value="여름휴가">여름휴가</option>
							<option name="leave" value="병가">병가</option>
							<option name="leave" value="공가">공가</option>
							<option name="leave" value="개인사정">개인사정</option>
							<option name="leave" value="기타">기타</option>
		            	</select>
	            	</div>
		        </h5>
		        <h5 class="d-flex">
					<label class="p-1" style="width: 200px;">발령부서- 인사발령신청서 [기본-hidden]</label>
		        	<div class="mb-6 mb-0" style="width: 344px;">
		            	<select class="form-select">
		            		<option selected>부서</option>
							<option th:each="item, iterStat : ${deptList}" 
							 		th:value="${iterStat.index}" 
							 		th:text="${iterStat.index} + ' : ' + ${item.deptName} + '(' + ${item.deptId} + ')'">
							 </option>
		            	</select>
	            	</div>
		        </h5>
		        <h5 class="d-flex">
					<label class="p-1" style="width: 200px;">지출종류 - 지출결의서 [기본-hidden]</label>
		        	<div class="mb-6 mb-0" style="width: 344px;">
		            	<select class="form-select">
		            		<option selected>지출종류</option>
		            		<option name="expense" value="고정지출">고정지출</option>
							<option name="expense" value="변동지출">변동지출</option>
							<option name="expense" value="비정기지출">비정기지출</option>
		            	</select>
	            	</div>
		        </h5>
		        <h5>
					<label class="p-1" style="width: 200px;">사유내용 -자유양식결재서:[기본-hidden]</label>
		        	<textarea id="notice-content-write" class="form-control" rows="10" placeholder="결재사유내용 작성"></textarea>
		        </h5>
		        <h5 class="d-flex">결재권한자 변경:
		        	<input class="form-check-input" type="checkbox" id="opt-in">
		        
		        </h5>
		        <h5 class="d-flex">
					<label>결재권한자 : </label> 
		          	<div id="select-box" style="width: 200px"></div>
		        </h5>
     				<div id="approvar" onload="defaultPrint()" style="display: flex; margin: 5px; border-radius: 3%; font-weight: 600;">
					<!-- 결재권한자 버튼 생성 영역 -->
     				</div>	
     				
     				<!-- 전결자 클릭시 추가 태그 -->
     				
			      	<div id="jeongyeolja" style="display:none;border:1px solid red;border-radius: 6px;padding: 12px;">
			      	
						<div id="jeongyeolja-content">
						  <label class="form-check-label" for="radioDefault1">
						    없음 
						  </label>
						  <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1" checked>
						  <label class="form-check-label" for="radioDefault1">
						    전결  
						  </label>
						  <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
						  <label class="form-check-label" for="radioDefault2">
						    대결  
						  </label>
						  <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2">
						  <label class="form-check-label" for="radioDefault2">
						    선결  
						  </label>
						  <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2">
						  <div>
						 	<h5>전결자 지정 </h5>
							<select id="emp_id" class="form-select" aria-label="Default select example">
							  <option selected>이름 사원번호</option>
							  <option th:each="item, iterStat : ${empList}" 
							 		th:value="${iterStat.index}" 
							 		th:text="${iterStat.index} + ' : ' + ${item.empName} + '(' + ${item.empId} + ')'">
							 </option> 
							</select>
						  </div>
						</div>
					</div>
	     				
		        <div id="editor" style="border: 1px solid black;;"></div>
		      </div>
		      <div class="modal-footer">
		      	<div>
			     	<button type="button" class="btn btn-primary">첨부파일</button>
			      	<button type="button" class="btn btn-primary">결재확인</button>
			    </div>
		      	<hr>
		      	<button type="button" class="btn btn-primary">인쇄</button>
		        <button type="button" class="btn btn-primary">저장</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
		      </div>
		</div>
			
		
	    </div>
	</div>
	</div>

</th:block>
	
</body>


<th:block layout:fragment="myScript">
<script>

	//grid - 1.결재사항 - 진행해야할 결재만 - 결재권한자만 볼수있음
	//grid - 2.전체결재 - 나와관련된 모든 결재문서
	//grid - 3.내 결재목록 - 내가 기안한 문서
	//grid - 4.결재대기 - 나와관련된 모든 결재대기
	//grid - 5.결재완료 - 나와 관련된 결재완료한 문서
	window.onload = function() {
		fetchPendingApprovalDocs().then(data => {
			grid1.resetData(data);
		});
		fetchApprovalDocs().then(data => {
			grid2.resetData(data);
		});
		fetchMyApprovalDocs().then(data => {
			grid3.resetData(data);
		});
		fetchWaitingApprovalDocs().then(data => {
			grid4.resetData(data);
		});
		fetchDoneApprovalDocs().then(data =>{
			grid5.resetData(data);
		});
		
	}
	//1. 결재사항 불러오기
	function fetchPendingApprovalDocs() {
		return fetch('/approval/pendingApprovalDocGrid')
			.then(response => response.json())
			.then(data => {
				
				let colData = [];
				let obj = {};
				// console.log("grid1 fetch-data----->:",data);
				data.map((item,index) => {
					obj["row_no"] = item[0]; //결재순번
					obj["approval_id"]	 = item[1];	//문서id
					obj["approval_title"] = item[2]; //문서제목	
					obj["emp_id"] = item[3];	//사원번호
					obj["emp_name"] = item[4];	//기안자
					obj["dept_id"] = item[5];	//부서코드
					obj["dept_name"] = item[6];	//부서명
					obj["approver"] = item[7];	//결재권한자id
					obj["approver_name"] = item[8];	//결재권한자 이름
					obj["pos_code"] = item[9];	//직급코드
					obj["pos_name"] = item[10];	//직급
					obj["created_date"] = item[11];	//생성일
					obj["finish_date"] = item[12]; //결재완료일자
					obj["doc_status"] = item[13]; //상태
					obj["view_details"] = '<button class="btn btn-primary me-2">상세</button>'; //상세보기
					colData.push(obj);
					obj = {};
				});

				//console.log("objectArray outside map:",colData);
				
				return colData;
			})
			.catch(error => {
				console.error('Error fetching approval documents:', error);
			});
	}
	//2. 전체결재 목록 불러오기
	function fetchApprovalDocs() {
		return fetch('/approval/approvalDocGrid')
			.then(response => response.json())
			.then(data => {
				
				let colData = [];
				let obj = {};

				data.map((item,index) => {
					obj["row_no"] = item[0]; //결재순번
					obj["approval_id"]	 = item[1];	//문서id
					obj["approval_title"] = item[2]; //문서제목	
					obj["emp_id"] = item[3];	//사원번호
					obj["emp_name"] = item[4];	//기안자
					obj["dept_id"] = item[5];	//부서코드
					obj["dept_name"] = item[6];	//부서명
					obj["approver"] = item[7];	//결재권한자
					obj["pos_code"] = item[8];	//직급코드
					obj["pos_name"] = item[9];	//직급
					obj["created_date"] = item[10];	//생성일
					obj["finish_date"] = item[11]; //결재완료일자
					obj["doc_status"] = item[12]; //상태
					obj["view_details"] = '<button class="btn btn-primary me-2">상세</button>'; //상세보기
					colData.push(obj);
					obj = {};
				});

				//console.log("objectArray outside map:",colData);
				
				return colData;
			})
			.catch(error => {
				console.error('Error fetching approval documents:', error);
			});
	}
	//3.내 결재목록 불러오기
	function fetchMyApprovalDocs() {
		return fetch('/approval/myApprovalDocGrid')
			.then(response => response.json())
			.then(data => {
				// console.log("grid3 fetch-data----->:",data);
				let colData = [];
				let obj = {};

				data.map((item,index) => {
					obj["row_no"] = item[0]; //결재순번
					obj["approval_id"]	 = item[1];	//문서id
					obj["approval_title"] = item[2]; //문서제목	
					obj["emp_id"] = item[3];	//사원번호
					obj["emp_name"] = item[4];	//기안자
					obj["dept_id"] = item[5];	//부서코드
					obj["dept_name"] = item[6];	//부서명
					obj["approver"] = item[7];	//결재권한자
					obj["pos_code"] = item[8];	//직급코드
					obj["pos_name"] = item[9];	//직급
					obj["created_date"] = item[10];	//생성일
					obj["finish_date"] = item[11]; //결재완료일자
					obj["doc_status"] = item[12]; //상태
					obj["viewing"] = item[13]; //열람여부
					obj["view_details"] = '<button class="btn btn-primary me-2">상세</button>'; //상세보기
					colData.push(obj);
					obj = {};
				});

				// console.log("grid3 map------>:",colData);
				
				return colData;
			})
			.catch(error => {
				console.error('Error fetching approval documents:', error);
			});
	}
	//4.결재대기 불러오기 -- 1차반려,2차반려,3차반려,1차완료,2차완료,3차완료, 종료
	function fetchWaitingApprovalDocs() {
		return fetch('/approval/waitingApprovalDocGrid')
			.then(response => response.json())
			.then(data => {
				console.log("grid4 fetch-data----->:",data);
				let colData = [];
				let obj = {};

				data.map((item,index) => {
					obj["row_no"] = item[0]; //결재순번
					obj["approval_id"]	 = item[1];	//문서id
					obj["approval_title"] = item[2]; //문서제목	
					obj["emp_id"] = item[3];	//사원번호
					obj["emp_name"] = item[4];	//기안자
					obj["dept_id"] = item[5];	//부서코드
					obj["dept_name"] = item[6];	//부서명
					obj["approver"] = item[7];	//결재권한자
					obj["pos_code"] = item[8];	//직급코드
					obj["pos_name"] = item[9];	//직급
					obj["created_date"] = item[10];	//생성일
					obj["finish_date"] = item[11]; //결재완료일자
					obj["doc_status"] = item[12]; //상태
					obj["view_details"] = '<button class="btn btn-primary me-2">상세</button>'; //상세보기
					colData.push(obj);
					obj = {};
				});

				console.log("grid4 map------>:",colData);
				
				return colData;
			})
			.catch(error => {
				console.error('Error fetching approval documents:', error);
			});
	}
	//5.결재완료 불러오기
	function fetchDoneApprovalDocs() {
		return fetch('/approval/finishedApprovalDocGrid')
			.then(response => response.json())
			.then(data => {
				console.log("grid5 fetch-data----->:",data);
				let colData = [];
				let obj = {};

				data.map((item,index) => {
					obj["row_no"] = item[0]; //결재순번
					obj["approval_id"]	 = item[1];	//문서id
					obj["approval_title"] = item[2]; //문서제목	
					obj["emp_id"] = item[3];	//사원번호
					obj["emp_name"] = item[4];	//기안자
					obj["dept_id"] = item[5];	//부서코드
					obj["dept_name"] = item[6];	//부서명
					obj["approver"] = item[7];	//결재권한자
					obj["pos_code"] = item[8];	//직급코드
					obj["pos_name"] = item[9];	//직급
					obj["created_date"] = item[10];	//생성일
					obj["finish_date"] = item[11]; //결재완료일자
					obj["doc_status"] = item[12]; //상태
					obj["view_details"] = '<button class="btn btn-primary me-2">상세</button>'; //상세보기
					colData.push(obj);
					obj = {};
				});

				console.log("grid5 map------>:",colData);
				
				return colData;
			})
			.catch(error => {
				console.error('Error fetching approval documents:', error);
			});
	}

	const Grid = tui.Grid;
	const grid1 = new Grid({
		  el: document.getElementById('approvalGrid'), // 결재사항
		  columns: [
	
		    {header: '결재순번' ,name: 'row_no' ,align: 'center'}
			,{header: '문서id' ,name: 'approval_id' ,align: 'center'}
			,{header: '문서제목' ,name: 'approval_title' ,align: 'center'}
			,{header: '사원번호' ,name: 'emp_id' ,align: 'center'}
			,{header: '기안자' ,name: 'emp_name' ,align: 'center'}
			,{header: '부서코드' ,name: 'dept_id' ,align: 'center'}
			,{header: '부서명' ,name: 'dept_name' ,align: 'center'}
			,{header: '결재권한자id' ,name: 'approver' ,align: 'center'}
			,{header: '결재권한자 이름' ,name: 'approver_name' ,align: 'center'}
			,{header: '직급코드' ,name: 'pos_code' ,align: 'center'}
			,{header: '직급' ,name: 'pos_name' ,align: 'center'}
			,{header: '생성일' ,name: 'created_date' ,align: 'center'}
			,{header: '결재완료일자' ,name: 'finish_date' ,align: 'center'}
			,{header: '상태' ,name: 'doc_status' ,align: 'center'}
			,{header: '상세보기' ,name: 'view_details' ,align: 'center'}
		  ],
		  data: []
		});
// 	instance.resetData(newData); // Call API of instance's public method
	
// 	Grid.applyTheme('clean'); // Call API of static method
	const grid2 = new Grid({
	    el: document.getElementById('allApprovalGrid'), // 전체결재
	    columns: [
	
		    {header: '결재순번' ,name: 'row_no' ,align: 'center'}
			,{header: '문서id' ,name: 'approval_id' ,align: 'center'}
			,{header: '문서제목' ,name: 'approval_title' ,align: 'center'}
			,{header: '사원번호' ,name: 'emp_id' ,align: 'center'}
			,{header: '기안자' ,name: 'emp_name' ,align: 'center'}
			,{header: '부서코드' ,name: 'dept_id' ,align: 'center'}
			,{header: '부서명' ,name: 'dept_name' ,align: 'center'}
			,{header: '결재권한자' ,name: 'approver' ,align: 'center'}
			,{header: '직급코드' ,name: 'pos_code' ,align: 'center'}
			,{header: '직급' ,name: 'pos_name' ,align: 'center'}
			,{header: '생성일' ,name: 'created_date' ,align: 'center'}
			,{header: '결재완료일자' ,name: 'finish_date' ,align: 'center'}
			,{header: '상태' ,name: 'doc_status' ,align: 'center'}
			,{header: '상세보기' ,name: 'view_details' ,align: 'center'}
		  ],
		  data: []
	});

	const grid3 = new Grid({
	    el: document.getElementById('myApprovalGrid'), // 내 결재목록
	    columns: [
	
		    {header: '결재순번' ,name: 'row_no' ,align: 'center'}
			,{header: '문서id' ,name: 'approval_id' ,align: 'center'}
			,{header: '문서제목' ,name: 'approval_title' ,align: 'center'}
			,{header: '사원번호' ,name: 'emp_id' ,align: 'center'}
			,{header: '기안자' ,name: 'emp_name' ,align: 'center'}
			,{header: '부서코드' ,name: 'dept_id' ,align: 'center'}
			,{header: '부서명' ,name: 'dept_name' ,align: 'center'}
			,{header: '결재권한자' ,name: 'approver' ,align: 'center'}
			,{header: '직급코드' ,name: 'pos_code' ,align: 'center'}
			,{header: '직급' ,name: 'pos_name' ,align: 'center'}
			,{header: '생성일' ,name: 'created_date' ,align: 'center'}
			,{header: '결재완료일자' ,name: 'finish_date' ,align: 'center'}
			,{header: '상태' ,name: 'doc_status' ,align: 'center'}
			,{header: '상세보기' ,name: 'view_details' ,align: 'center'}
		  ],
		  data: []
	});

	const grid4 = new Grid({
	    el: document.getElementById('waitingApprovalGrid'), //결재대기
	    columns: [
	
		    {header: '결재순번' ,name: 'row_no' ,align: 'center'}
			,{header: '문서id' ,name: 'approval_id' ,align: 'center'}
			,{header: '문서제목' ,name: 'approval_title' ,align: 'center'}
			,{header: '사원번호' ,name: 'emp_id' ,align: 'center'}
			,{header: '기안자' ,name: 'emp_name' ,align: 'center'}
			,{header: '부서코드' ,name: 'dept_id' ,align: 'center'}
			,{header: '부서명' ,name: 'dept_name' ,align: 'center'}
			,{header: '결재권한자' ,name: 'approver' ,align: 'center'}
			,{header: '직급코드' ,name: 'pos_code' ,align: 'center'}
			,{header: '직급' ,name: 'pos_name' ,align: 'center'}
			,{header: '생성일' ,name: 'created_date' ,align: 'center'}
			,{header: '결재완료일자' ,name: 'finish_date' ,align: 'center'}
			,{header: '상태' ,name: 'doc_status' ,align: 'center'}
			,{header: '상세보기' ,name: 'view_details' ,align: 'center'}
		  ],
		  data: []
	});

	const grid5 = new Grid({
	    el: document.getElementById('doneApprovalGrid'), //결재완료
	    columns: [
	
		    {header: '결재순번' ,name: 'row_no' ,align: 'center'}
			,{header: '문서id' ,name: 'approval_id' ,align: 'center'}
			,{header: '문서제목' ,name: 'approval_title' ,align: 'center'}
			,{header: '사원번호' ,name: 'emp_id' ,align: 'center'}
			,{header: '기안자' ,name: 'emp_name' ,align: 'center'}
			,{header: '부서코드' ,name: 'dept_id' ,align: 'center'}
			,{header: '부서명' ,name: 'dept_name' ,align: 'center'}
			,{header: '결재권한자' ,name: 'approver' ,align: 'center'}
			,{header: '직급코드' ,name: 'pos_code' ,align: 'center'}
			,{header: '직급' ,name: 'pos_name' ,align: 'center'}
			,{header: '생성일' ,name: 'created_date' ,align: 'center'}
			,{header: '결재완료일자' ,name: 'finish_date' ,align: 'center'}
			,{header: '상태' ,name: 'doc_status' ,align: 'center'}
			,{header: '상세보기' ,name: 'view_details' ,align: 'center'}
		  ],
		  data: []
	});
	
	//모달창 코드
	//셀렉트 박스 변경시 모달창에 텍스트 변경함수
	function draftValFn(e){
		
		let draft_doc = e.value;
		document.getElementById('Drafting').innerText = draft_doc;
	}
	
	let today = new Date();   

	let year = today.getFullYear(); // 년도
	let month = today.getMonth() + 1;  // 월
	let date = today.getDate();  // 날짜
	let day = today.getDay();  // 요일

	const formattedDate = `${year}년 ${month}월 ${date}일`;

	document.getElementById("today-date").textContent = formattedDate;

	//셀렉트박스
	var approvarDiv = document.querySelector('#approvar');
	var deptList = "[[${deptList}]]";
	console.log("deptList",deptList);
	var selectBox = new tui.SelectBox('#select-box', {
      data: [
        {
          label: '인사팀',
          data: [{ label: '한가인', value: '한가인'}, 
        	  	{ label: '정지훈', value: '정지훈' ,selected: true }]
        },
        {
          label: '개발팀',
          data: [
            { label: '이정현', value: '이정현'},
            { label: '마이클', value: '마이클'},
            { label: '기안', value: '기안'},
            { label: '이지영', value: '이지영'},
            { label: '박지운', value: '박지운'}
          ]
        }
      ]
    });
	let jeongyeoljaDiv = document.querySelector('#jeongyeolja');
	let jeongyeoljaContent = document.querySelector("#jeongyeolja-content");
	let approvarDivClose = document.getElementById("approvarDiv-close");
	
    this.count = 0; //결재권한자 label count
    let defalutApprovarArr = ["d-이사랑","d-미미미누","d-김경란"];
    let approvarArr = [];//결재권한자 배열 
	
    function defaultPrint(){
    	if(this.count === 0){
	    	for(var i=0;i<defalutApprovarArr.length;i++){
	    		
		    	print("defalut",defalutApprovarArr[i]);
    			approvarArr.push(defalutApprovarArr[i]);
	    	}
    	}
    }
    function print(type, text) {
		// 결재권한자변경 div 버튼 생성
    	if(this.count < 3){
		this.count++;
    	approvarDiv.innerHTML +='<div class="btn btn-success"'
      						+'style="width:200px;height:200px; margin:5px; padding: 5px 0px 0px 0px;">'
      						+'<p onclick="approvarDivclose(this,' + "'"+ type + "'"+ ','+ count +')" style="float:right;margin-right: 8px;">&times;</p>'
      						+'<p onclick="approvalNo('+ (this.count)+','+ "'"+ text + "'" +')" style="margin-top:50px;height: 129px;">'+(this.count) + '차 결재권한자 : (직급)' + text + ' 변경</p>'
    						+'</div>';
    	}
    } 
    

	
	//결재권한자 버튼 클릭시 결재권한자변경 div 태그 생성
	function approvalNo(count,text){
	   //해당태그 클릭시 전결자 div 나오기
		let type="change";
		jeongyeoljaDiv.innerHTML = '<button onClick="approvarDivclose(this,'+ "'"+ type + "'"+','+ count +')" class="btn-close" style="float:right;margin-right: 8px;"></button>'
	   		 			+ '<h5>'+ count + "차 결재권한자 : "+ text +" 변경"+'</h5>';
		jeongyeoljaDiv.innerHTML += jeongyeoljaContent.innerHTML;	
	   
	   	if(jeongyeoljaDiv.style.display === 'none'){
	  	jeongyeoljaDiv.style.display = 'block';  
	   	  						  
	}	
	   

    } 
	
	//결재권한자,결재권한자변경(전결자) 닫기버튼
	function approvarDivclose(buttonDiv,type,count){
		const divElement = buttonDiv.parentNode; // 버튼의 부모인 div를 찾음
		
		console.log("type",type);
		console.log("jeongyeoljaDiv.style.display",jeongyeoljaDiv.style.display);
		jeongyeoljaDiv.style.display = 'none';
		//defalut 태그 닫기 버튼시 
		if (buttonDiv.parentElement.id === '' || type === 'defalut') {//결재권한자
	        divElement.remove(); //자신의 div 제거
	        
	        if(divElement.innerText !== null){ //defalut 태그가 있을때
	        	approvarArr = approvarArr.filter((ev) => ev !== defalutApprovarArr[count-1]);	
	        }
			approvarArr = approvarArr.filter((ev) => ev !== count);
			this.count = count-1; //제거 라벨 카운트 원상복기
	    }
		
		
		if(approvarArr.length === 0){
    		this.count = 0;
    	}	
	}
	//셀렉트박스 닫힐때
    selectBox.on('close',(ev)=>{
    	
    	let selectlabel = selectBox.getSelectedItem().label;
    	if(selectlabel != null && approvarArr.length < 3){//셀렉트 라벨선택시 3번까지만셈
    		print(ev.type, selectlabel);
    		approvarArr.push(this.count);
    	}
	})
   	//리셋버튼 만들기 하다가잠
    
	//에디터
	 const editor = new toastui.Editor({
	  el: document.querySelector('#editor'),
	  height: '500px',
	  initialEditType: 'markdown',
	  previewStyle: 'vertical'
	});
	
	editor.getMarkdown();
	
	//모달 움직이게 하기
	const modalHeader = document.querySelector(".modal-header");
	const modalDialog = document.querySelector(".modal-dialog");
	let isDragging = false;
	let mouseOffset = { x: 0, y: 0 };
	let dialogOffset = { left: 0, right: 0 };
	
	modalHeader.addEventListener("mousedown", function (event) {
	  isDragging = true;
	  mouseOffset = { x: event.clientX, y: event.clientY };
	  dialogOffset = {
	    left: modalDialog.style.left === '' ? 0 : Number(modalDialog.style.left.replace('px', '')),
	    right: modalDialog.style.top === '' ? 0 : Number(modalDialog.style.top.replace('px', ''))
	  }
	});
	
	document.addEventListener("mousemove", function (event) {
	  if (!isDragging) {
	    return;
	  }
	  let newX = event.clientX - mouseOffset.x;
	  let newY = event.clientY - mouseOffset.y;
	
	  modalDialog.style.left = `${dialogOffset.left + newX}px`
	  modalDialog.style.top = `${dialogOffset.right + newY}px`
	});
	
	document.addEventListener("mouseup", function () {
	  isDragging = false;
	});
	 
</script>
</th:block>