<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
<head>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/select-box/latest/toastui-select-box.css">
<!-- <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@5.21.1/dist/css/themes/bootstrap/bootstrap.min.css" rel="stylesheet" integrity="sha384-+d0g/xwrqc+suQ74C3VDRRcuOmSa3d1dlJGH4M04eYlHdwXYgTrttDYs+K0J/5L4" crossorigin="anonymous"> -->

<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://uicdn.toast.com/select-box/latest/toastui-select-box.js"></script>

</head>
<style>
	
</style>
<body>
<th:block layout:fragment="content">
	<div class="custom-body container-xxl flex-grow-1 container-p-y">
		<h2>전자 결재 작성중</h2>
			<div class="d-flex justify-content-between">
			<div class="d-flex" style="height: 38.94px;">
	            <div class="mb-6 mb-0">
	            	<select class="form-select" onchange="draftValFn(this)">
	            		<option value="기안서" selected>기안서</option>
	            		<option name="draft" value="휴가(연차)신청서">휴가(연차)신청서</option>
						<option name="draft" value="인사발령신청서">인사발령신청서</option>
						<option name="draft" value="지출결의서">지출결의서</option>
						<option name="draft" value="자유양식결재서">자유양식결재서</option>
	            	</select>
	            </div>
	            <div class="d-flex justify-content-end" style="margin-left: 5px;">
						<button onclick="defaultPrint()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#approval-modal" style="width: 71px;">
						작성
						</button>
		        </div>
		        <div class="row flex-nowrap" style="margin-left: 506px;">
					<div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
						<input type="date" name="startDate" class="form-control">
					</div>
	                ~
	                <div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
		                <input type="date" name="endDate" class="form-control">
	                </div>
	                 <input class="form-control" type="text" placeholder="기안자및문서이름" style="width: 200px;height: 38.94px;">
	                <div class="mb-6 col-lg-6 col-xl-3 col-12 mb-0">
		             	<button class="btn btn-primary">검색</button>
	                </div>
				</div>
			</div>
		</div>
		<hr>
		<div style="margin-top: 15px;">
			<nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
			    <button class="nav-link active" id="nav-approval-tab" data-bs-toggle="tab" data-bs-target="#nav-approval" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
			    	결재사항
			    </button>
			    <button class="nav-link" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
			    	전체결재
			    </button>
			    <button class="nav-link" id="nav-my-tab" data-bs-toggle="tab" data-bs-target="#nav-my" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
			    	내 결재목록
			    </button>
			    <button class="nav-link" id="nav-waiting-tab" data-bs-toggle="tab" data-bs-target="#nav-waiting" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
			    	결재대기
			    </button>
			    <button class="nav-link" id="nav-done-tab" data-bs-toggle="tab" data-bs-target="#nav-done" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
			    	결재완료
			    </button>
			  </div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
			  <div class="tab-pane fade show active" id="nav-approval" role="tabpanel" aria-labelledby="nav-approval-tab">
			  	<h2>table1</h2>
			  	<div id="approvalGrid"></div>
			  </div>
			  <div class="tab-pane fade active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
			  		<h2>table2</h2>
			  		<div id="grid2"></div>
			  </div>
			  <div class="tab-pane fade active" id="nav-my" role="tabpanel" aria-labelledby="nav-my-tab">
			  		<h2>table3</h2>
			  		<div id="grid3"></div>
			  </div>
			  <div class="tab-pane fade active" id="nav-waiting" role="tabpanel" aria-labelledby="nav-waiting-tab">
			  		<h2>table4</h2>
			  </div>
			  <div class="tab-pane fade active" id="nav-done" role="tabpanel" aria-labelledby="nav-done-tab">
			  		<h2>table5</h2>
			  </div>
			</div>
		</div>
		<!-- 모달 -->
		<div class="modal fade" id="approval-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
		    <div class="modal-content">
		      <div class="modal-header" data-draggable="true">
		        <h3 class="modal-title" id="Drafting">기안서 작성</h3>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		    <form>
		      <div class="modal-body">
		        <h5 class="d-flex">문서 날짜 : <p id="today-date"></p></h5>
		        <h5 class="d-flex">문서 제목 : 	                 
		        	<input class="form-control" type="text" placeholder="문서제목" style="height: 38.94px;">
		        </h5>
		        <h5 class="d-flex">양식 종류 : 
		        	<div class="mb-6 mb-0">
		            	<select class="form-select" onchange="draftValFn(this)">
		            		<option selected>기안서</option>
		            		<option name="draft" value="휴가(연차)신청서">휴가(연차)신청서</option>
							<option name="draft" value="인사발령신청서">인사발령신청서</option>
							<option name="draft" value="지출결의서">지출결의서</option>
							<option name="draft" value="자유양식결재서">자유양식결재서</option>
		            	</select>
	            	</div>
		        </h5>
		        <h5 class="d-flex">결재자명(기안자): 
		        	<div class="mb-6 mb-0">
		            	 <select class="form-select">
		            		<option selected>인사테이블에서불러오기 이름(사번)</option>
		            		 <option th:each="item, iterStat : ${getEmp}" 
							 		th:value="${iterStat.index}" 
							 		th:text="${iterStat.index} + ' : ' + ${item.empName} + '(' + ${item.empId} + ')'">
							 </option>

		            	</select> 
	            	</div>
		        </h5>
		        <h5 class="d-flex">결재 완료기간: 
			        <div class="row flex-nowrap">
						<div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
							<input type="date" name="startDate" class="form-control">
						</div>
		                ~
		                <div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
			                <input type="date" name="endDate" class="form-control">
		                </div>
					</div>
		        </h5>
		        <h5 class="d-flex">기간-휴가(연차)신청서 [기본-hidden]
		        	<div class="row flex-nowrap">
						<div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
							<input type="date" name="startDate" class="form-control">
						</div>
		                ~
		                <div class="mb-6 col-lg-5 col-xl-7 col-12 mb-0" style="width: 180px;">
			                <input type="date" name="endDate" class="form-control">
		                </div>
					</div>
		        </h5>
		        <h5 class="d-flex">휴가종류-휴가(연차)신청서 [기본-hidden]
		        	<div class="mb-6 mb-0">
		            	<select class="form-select">
		            		<option selected></option>
		            		<option name="leave" value="연차유급휴가">연차유급휴가</option>
							<option name="leave" value="출산전후휴가">출산전후휴가</option>
							<option name="leave" value="배우자출산휴가">배우자출산휴가</option>
							<option name="leave" value="생리휴가">생리휴가</option>
							<option name="leave" value="가족돌봄휴가">가족돌봄휴가</option>
							<option name="leave" value="경조사휴가">경조사휴가</option>
							<option name="leave" value="여름휴가">여름휴가</option>
							<option name="leave" value="병가">병가</option>
							<option name="leave" value="공가">공가</option>
							<option name="leave" value="개인사정">개인사정</option>
							<option name="leave" value="기타">기타</option>
		            	</select>
	            	</div>
		        </h5>
		        <h5 class="d-flex">발령부서- 인사발령신청서 [기본-hidden]
		        	<div class="mb-6 mb-0">
		            	<select class="form-select">
		            		<option selected>부서이름 인사정보테이블에서 가져오기</option>
		            		<option name="transfer" value="기획조정실">기획조정실</option>
							<option name="transfer" value="경영기획팀">경영기획팀</option>
							<option name="transfer" value="인사노무팀">인사노무팀</option>
							<option name="transfer" value="총무팀">총무팀</option>
							<option name="transfer" value="재무회계팀">재무회계팀</option>
							<option name="transfer" value="범무감사팀">범무감사팀</option>
							<option name="transfer" value="비서실">비서실</option>
							<option name="transfer" value="대외협력팀">대외협력팀</option>
							<option name="transfer" value="홍보팀">홍보팀</option>
							<option name="transfer" value="국제협력팀">국제협력팀</option>
							<option name="transfer" value="고객만족팀(cs팀)">고객만족팀(cs팀)</option>
							<option name="transfer" value="사업기획팀">사업기획팀</option>
							<option name="transfer" value="운영지원팀">운영지원팀</option>
							<option name="transfer" value="사업관리팀">사업관리팀</option>
							<option name="transfer" value="성과관리팀">성과관리팀</option>
							<option name="transfer" value="시설관리팀">시설관리팀</option>
							<option name="transfer" value="연구개발팀">연구개발팀</option>
							<option name="transfer" value="기술지원팀">기술지원팀</option>
							<option name="transfer" value="정보화팀/전산팀">정보화팀/전산팀</option>
							<option name="transfer" value="데이터관리팀">데이터관리팀</option>
							<option name="transfer" value="감사실">감사실</option>
							<option name="transfer" value="윤리경영팀">윤리경영팀</option>
							<option name="transfer" value="내부감사팀">내부감사팀</option>
							<option name="transfer" value="리스크 관리팀">리스크 관리팀</option>
		            	</select>
	            	</div>
		        </h5>
		        <h5 class="d-flex">지출종류 - 지출결의서 [기본-hidden]
		        	<div class="mb-6 mb-0">
		            	<select class="form-select">
		            		<option selected>인사테이블에서불러오기 이름(사번)</option>
		            		<option name="expense" value="고정지출">고정지출</option>
							<option name="expense" value="변동지출">변동지출</option>
							<option name="expense" value="비정기지출">비정기지출</option>
		            	</select>
	            	</div>
		        </h5>
		        <h5>사유내용 -자유양식결재서:[기본-hidden]
		        	<textarea id="notice-content-write" class="form-control" rows="10" placeholder="결재사유내용 작성"></textarea>
		        </h5>
		        <h5 class="d-flex">결재권한자 변경:
		        	<input class="form-check-input" type="checkbox" id="opt-in">
		        
		        </h5>
		        <h5 class="d-flex">결재권한자: 
<!-- 		        <div id="container"></div> -->
		          <div id="select-box" style="width: 200px"></div>
		        </h5>
     				<div id="approvar" onload="defaultPrint()" style="display: flex; margin: 5px; border-radius: 3%; font-weight: 600;">
     				   
     				</div>	
     				
     				<!-- 전결자 클릭시 추가 태그 -->
     				
			      	<div id="jeongyeolja" style="display:none;border:1px solid red;border-radius: 6px;padding: 12px;">
			      	
						<div id="jeongyeolja-content">
						  <label class="form-check-label" for="radioDefault1">
						    없음 : 
						  </label>
						  <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
						  <label class="form-check-label" for="radioDefault1">
						    전결 : 
						  </label>
						  <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
						  <label class="form-check-label" for="radioDefault2">
						    대결 : 
						  </label>
						  <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" checked>
						  <label class="form-check-label" for="radioDefault2">
						    선결 : 
						  </label>
						  <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" checked>
							<label>전결자 지정 :</label>
							<select id="emp_id" class="form-select" aria-label="Default select example">
							  <option selected>인사테이블에서 이름 사원번호 가져오기</option>
							  <option name="emp_id" value="박다정">박다정</option>
							  <option name="emp_id" value="정지훈">정지훈</option>
							  <option name="emp_id" value="박영진">박영진</option> 
							</select>
						</div>
					</div>
	     				
		        <div id="editor" style="border: 1px solid black;;"></div>
		      </div>
		      <div class="modal-footer">
		      	<div>
			     	<button type="button" class="btn btn-primary">첨부파일</button>
			      	<button type="button" class="btn btn-primary">결재확인</button>
			    </div>
		      	<hr>
		      	<button type="button" class="btn btn-primary">인쇄</button>
		        <button type="button" class="btn btn-primary">저장</button>
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
		      </div>
			</form>
		</div>
			
		
	    </div>
	</div>
	</div>

</th:block>
	
</body>


<th:block layout:fragment="myScript">
<script>
	const Grid = tui.Grid;
	const instance = new Grid({
		  el: document.getElementById('approvalGrid'), // Container element
		  columns: [
	
		    {
		      header: '결재순번'
		      ,name: 'row_no'
		      ,align: 'center'
		    },
		    {
		      header: '문서제목'
		      ,name: 'document_title'
		      ,align: 'center'
		    },
		    {
		      header: '기안자'
		      ,name: 'drafter'
		      ,align: 'center'
		    },
		    {
		      header: '부서명'
		      ,name: 'department_name'
		      ,align: 'center'
		    },
		    {
			  header: '직급'
			  ,name: 'rank'
			  ,align: 'center'
			},
			{
			  header: '생성일'
			  ,name: 'creation_date'
			  ,align: 'center'
			},
			{
			  header: '결재완료일자'
			  ,name: 'payment_completion_date'
			  ,align: 'center'
			},
			{
			  header: '상태'
			  ,name: 'state'
			  ,align: 'center'
			},
			{
			  header: '결재여부'
			  ,name: 'payment_status'
			  ,align: 'center'
			},
			{
			  header: '상세보기'
			  ,name: 'view_details'
			  ,align: 'center'

			}
		  ],
		  data: [
		    {
		    	row_no: 1,
				document_title: '지출 결의서',
				drafter:'',
				department_name:'',
				rank:'',
				creation_date:'',
				payment_completion_date:'',
				state:'',
				payment_status:'',
				view_details:'<button class="btn btn-primary me-2">상세</button>'
				
		    },
		    {
		    	row_no: 2,
				document_title: '휴가(연차)신청서',
				drafter:'',
				department_name:'',
				rank:'',
				creation_date:'',
				payment_completion_date:'',
				state:'',
				payment_status:'',
				view_details:'<button class="btn btn-primary me-2">상세</button>'
				
		    }
		  ]
		});
// 	instance.resetData(newData); // Call API of instance's public method
	
// 	Grid.applyTheme('clean'); // Call API of static method
	
	const grid2 = new Grid({
	    el: document.getElementById('grid2'), // 두 번째 컨테이너
	    columns: [
	    	
		    {
		      header: '결재순번'
		      ,name: 'row_no'
		      ,align: 'center'
		    },
		    {
		      header: '문서제목'
		      ,name: 'document_title'
		      ,align: 'center'
		    },
		    {
		      header: '기안자'
		      ,name: 'drafter'
		      ,align: 'center'
		    },
		    {
		      header: '부서명'
		      ,name: 'department_name'
		      ,align: 'center'
		    },
		    {
			  header: '직급'
			  ,name: 'rank'
			  ,align: 'center'
			},
			{
			  header: '생성일'
			  ,name: 'creation_date'
			  ,align: 'center'
			},
			{
			  header: '결재완료일자'
			  ,name: 'payment_completion_date'
			  ,align: 'center'
			},
			{
			  header: '상태'
			  ,name: 'state'
			  ,align: 'center'
			},
			{
			  header: '결재여부'
			  ,name: 'payment_status'
			  ,align: 'center'
			},
			{
			  header: '상세보기'
			  ,name: 'view_details'
			  ,align: 'center'

			}
		  ],
		  data: [
		    {
		    	row_no: 1,
				document_title: '지출 결의서',
				drafter:'',
				department_name:'',
				rank:'',
				creation_date:'',
				payment_completion_date:'',
				state:'',
				payment_status:'',
				view_details:'<button class="btn btn-primary me-2">상세</button>'
				
		    },
		    {
		    	row_no: 2,
				document_title: '휴가(연차)신청서',
				drafter:'',
				department_name:'',
				rank:'',
				creation_date:'',
				payment_completion_date:'',
				state:'',
				payment_status:'',
				view_details:'<button class="btn btn-primary me-2">상세</button>'
				
		    }
		  ]
	});
	
	//모달창 코드
	//셀렉트 박스 변경시 모달창에 텍스트 변경함수
	function draftValFn(e){
		
		let draft_doc = e.value;
		document.getElementById('Drafting').innerText = draft_doc;
	}
	
	let today = new Date();   

	let year = today.getFullYear(); // 년도
	let month = today.getMonth() + 1;  // 월
	let date = today.getDate();  // 날짜
	let day = today.getDay();  // 요일

	const formattedDate = `${year}년 ${month}월 ${date}일`;

	document.getElementById("today-date").textContent = formattedDate;

	//셀렉트박스
	var approvarDiv = document.querySelector('#approvar');
    var selectBox = new tui.SelectBox('#select-box', {
      data: [
        {
          label: '인사팀',
          data: [{ label: '한가인', value: '한가인'}, 
        	  	{ label: '정지훈', value: '정지훈' ,selected: true }]
        },
        {
          label: '개발팀',
          data: [
            { label: '이정현', value: '이정현'},
            { label: '마이클', value: '마이클'},
            { label: '기안', value: '기안'},
            { label: '이지영', value: '이지영'},
            { label: '박지운', value: '박지운'}
          ]
        }
      ]
    });
	let jeongyeoljaDiv = document.querySelector('#jeongyeolja');
	let jeongyeoljaContent = document.querySelector("#jeongyeolja-content");
	let approvarDivClose = document.getElementById("approvarDiv-close");
	
    this.count = 0; //결재권한자 label count
    let defalutApprovarArr = ["d-이사랑","d-미미미누","d-김경란"];
    let approvarArr = [];//결재권한자 배열 
	
    function defaultPrint(){
    	if(this.count === 0){
	    	for(var i=0;i<defalutApprovarArr.length;i++){
	    		
		    	print("defalut",defalutApprovarArr[i]);
    			approvarArr.push(defalutApprovarArr[i]);
	    	}
    	}
    }
    function print(type, text) {
		// 결재권한자변경 div 버튼 생성
    	if(this.count < 3){
		this.count++;
    	approvarDiv.innerHTML +='<div class="btn btn-success"'
      						+'style="width:200px;height:200px; margin:5px; padding: 5px 0px 0px 0px;">'
      						+'<p onclick="approvarDivclose(this,' + "'"+ type + "'"+ ','+ count +')" style="float:right;margin-right: 8px;">&times;</p>'
      						+'<p onclick="approvalNo('+ (this.count)+','+ "'"+ text + "'" +')" style="margin-top:50px;height: 129px;">'+(this.count) + '차 결재권한자 : (직급)' + text + ' 변경</p>'
    						+'</div>';
    	}
    } 
    

	
	//결재권한자 버튼 클릭시 결재권한자변경 div 태그 생성
	function approvalNo(count,text){
	   //해당태그 클릭시 전결자 div 나오기
	   	 jeongyeoljaDiv.innerHTML = '<button onClick="approvarDivclose(this,"change",'+ count +')" class="btn-close" style="float:right;margin-right: 8px;"></button>'
	   		 			+ '<h5>'+ count + "차 결재권한자 : "+ text +" 변경"+'</h5>';
			jeongyeoljaDiv.innerHTML += jeongyeoljaContent.innerHTML;	
	   
	   	 if(jeongyeoljaDiv.style.display === 'none'){
	  	 jeongyeoljaDiv.style.display = 'block';  
	   	  						  
	   }	
	   

    } 
	
	//결재권한자,결재권한자변경(전결자) 닫기버튼
	function approvarDivclose(buttonDiv,type,count){
		const divElement = buttonDiv.parentNode; // 버튼의 부모인 div를 찾음
		
		//defalut 태그 닫기 버튼시 
		if (buttonDiv.parentElement.id === '' || type === 'defalut') {//결재권한자
	        divElement.remove(); //자신의 div 제거
	        
	        if(divElement.innerText !== null){ //defalut 태그가 있을때
	        	approvarArr = approvarArr.filter((ev) => ev !== defalutApprovarArr[count-1]);	
	        }
			approvarArr = approvarArr.filter((ev) => ev !== count);
			this.count = count-1; //제거 라벨 카운트 원상복기
	    }
		
		jeongyeoljaDiv.style.display = 'none';
		
		if(approvarArr.length === 0){
    		this.count = 0;
    		
    	}	
	}
	//셀렉트박스 닫힐때
    selectBox.on('close',(ev)=>{
    	
    	let selectlabel = selectBox.getSelectedItem().label;
    	if(selectlabel != null && approvarArr.length < 3){//셀렉트 라벨선택시 3번까지만셈
    		print(ev.type, selectlabel);
    		approvarArr.push(this.count);
    	}
    })
   	//리셋버튼 만들기 하다가잠
    
	//에디터
	 const editor = new toastui.Editor({
	  el: document.querySelector('#editor'),
	  height: '500px',
	  initialEditType: 'markdown',
	  previewStyle: 'vertical'
	});
	
	editor.getMarkdown();
	
	//모달 움직이게 하기
	const modalHeader = document.querySelector(".modal-header");
	const modalDialog = document.querySelector(".modal-dialog");
	let isDragging = false;
	let mouseOffset = { x: 0, y: 0 };
	let dialogOffset = { left: 0, right: 0 };
	
	modalHeader.addEventListener("mousedown", function (event) {
	  isDragging = true;
	  mouseOffset = { x: event.clientX, y: event.clientY };
	  dialogOffset = {
	    left: modalDialog.style.left === '' ? 0 : Number(modalDialog.style.left.replace('px', '')),
	    right: modalDialog.style.top === '' ? 0 : Number(modalDialog.style.top.replace('px', ''))
	  }
	});
	
	document.addEventListener("mousemove", function (event) {
	  if (!isDragging) {
	    return;
	  }
	  let newX = event.clientX - mouseOffset.x;
	  let newY = event.clientY - mouseOffset.y;
	
	  modalDialog.style.left = `${dialogOffset.left + newX}px`
	  modalDialog.style.top = `${dialogOffset.right + newY}px`
	});
	
	document.addEventListener("mouseup", function () {
	  isDragging = false;
	});
	 
</script>
</th:block>

