<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">

<body>
<th:block layout:fragment="content">
	<div class="custom-body container-xxl flex-grow-1 container-p-y">
		<!-- custom-content -->
		<div class="container mt-4">
		    <div class="row">
		        <!-- 왼쪽(달력): 8칸 -->
		        <div class="col-lg-8 mb-4">
		            <section class="panel calendar" style="border: solid;">
	                    <div class="calendar-header d-flex align-items-center justify-content-between pb-0">
		                    <div class="calendar-nav btn-group">
		                        <button id="btn-prev" class="nav-btn btn-sm btn">◀</button>
		                        <span id="current-date"></span>
		                        <button id="btn-next" class="nav-btn btn-sm btn">▶</button>
		                        <button id="btn-today" class="nav-btn btn-sm btn btn-outline-secondary">오늘</button>
		                    </div>
		                    <!-- 헤더 오른쪽에 버튼들 -->
		                    <div class="btn-group" role="group">
		                        <button type="button" class="btn btn-outline-secondary btn-xs" onclick="location.href='/main/calendar'">
		                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
		                        </button>
		                        <button type="button" class="btn btn-outline-secondary btn-xs" onclick="location.reload();">
		                            <i class="fa-solid fa-rotate-right"></i>
		                        </button>
		                        <button type="button" class="btn btn-outline-secondary btn-xs" data-bs-toggle="modal" data-bs-target="#addSchedule">
		                            <i class="fa-solid fa-plus"></i>
		                        </button>
		                    </div>
		                </div>
		                <div id="calendar" style="height: 700px;"></div>
		            </section>
		        </div>
		        <!-- 오른쪽(프로필, 공지, 결제목록): 4칸-->
		        <div class="col-lg-4 d-flex flex-column gap-3">
		            <!-- 프로필 -->
		            <section class="panel" style="border: solid; color: red; min-height:30%">
		                <h1>신필용</h1>
		                <button class="btn btn-primary" onclick="handleAttendanceToggle()" id="attendance">출근</button>
		                <button class="btn btn-primary">출입</button>
		            </section>
		            <!-- 공지목록 -->
		            <section class="panel" style="border: solid; color: red; min-height:30%">
		                <h1>공지목록</h1>
		            </section>
		            <!-- 결제목록 -->
		            <section class="panel" style="border: solid; color: red; min-height:30%">
		                <h1>결제목록</h1>
		            </section>
		        </div>
		    </div>
		</div>
		<!-- /customcontent -->
	</div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@toast-ui/calendar@2.1.3/dist/toastui-calendar.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/@toast-ui/calendar@2.1.3/dist/toastui-calendar.min.js"></script>
	
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css">
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
	<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
	<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	
	<script src="/js/main/calendar.js"></script>
	<script src="/js/attendance/attendance.js"></script>
</th:block>

</body>
