<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:fragment="schedule_modal">
	
<!-- 일정등록 모달 -->
<div class="modal" id="add-schedule-modal" tabindex="-1" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalCenterTitle">일정등록</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="add-schedule-form">
					<div class="col mb-6">
						<input type="hidden" id="schedule-id" name="scheduleId" value="">
						<label for="scheduleTitle" class="form-label">제목</label>
						<input type="text" id="scheduleTitle" class="form-control" name="scheduleTitle"/>
					</div>
					<div class="col mb-6">
						<label for="scheduleTitle" class="form-label">작성자</label>
						<input type="text" class="form-control" readonly
							th:value="${#authentication.principal.empName}" id="createdUserName">
						
						<input type="hidden" id="schedule-writer" class="form-control" 
							th:value="${#authentication.principal.empId}" name="createdUser" readonly/>
					</div>
					<div class="mb-3 mt-3" style="display:flex; gap:8px;">
						<div>
							<select id="schedule-type" class="form-select" name="scheduleType">
								<option value="company">회사</option>
								<option th:value="${#authentication.name}">개인</option>
							</select>
						</div>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus mt-1" style="margin-right: 5px; width: 28%;">
							<input id="startpicker-input" type="text" aria-label="Date" name="scheduleStart">
							<span class="tui-ico-date" style="width:15px;"></span>
							<div id="startpicker-container" style="margin-left: -1px;"></div>
						</div>
						<span class="mt-2">~</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus mt-1" style="margin-right: 5px; width: 28%;">
							<input id="endpicker-input" type="text" aria-label="Date" name="scheduleFinish">
							<span class="tui-ico-date"></span>
							<div id="endpicker-container" style="margin-left: -1px;"></div>
						</div>
						<input type="checkbox" id="all-day-checkbox" style="margin-bottom: 10px;"/>
						<input type="hidden" id="all-day-checkbox-value" style="margin-bottom: 10px;" name="alldayYN" value="N"/>
						<label for="all-day-checkbox" style="margin-top: 3px;">종일</label>
					</div>
					<div class="col mb-6">
						<label for="schedule-content" class="form-label">내용</label>
						<textarea id="schedule-content" class="form-control" rows="5" name="scheduleContent"></textarea>
					</div>
					
					<div class="modal-footer mt-3 p-0">
						<button type="button" id="delete-schedule-btn" class="btn btn-outline-danger d-none">삭제</button>
						<button type="submit" id="add-schedule-btn" class="btn btn-primary">등록</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="/js/main/schedule_modal.js"></script>
