<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
	
  <link rel="icon" href="img/logo.png">
  <link rel="stylesheet" href="css/jquery.orgchart.css">
  <link rel="stylesheet" href="css/style.css">
  <style type="text/css">
    .spinner {
      line-height: 420px;
    }
    .spinner::before {
      width: 72px;
      height: 72px;
      border-radius: 36px;
    }
  </style>
	
<body>
<th:block layout:fragment="content">
	<div class="custom-body container-xxl flex-grow-1 container-p-y">
	<h2>조직도</h2>

	</div>
</th:block>
</body>
