<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{/layouts/layout.html}">

  <!-- 1. head: OrgChart CSS -->
  <th:block layout:fragment="head">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/orgchart/3.8.0/css/jquery.orgchart.min.css">
	<link rel="stylesheet" th:href="@{/css/orgchart-custom.css}">
  </th:block>

  <!-- 2. content -->
  <th:block layout:fragment="content">
    <div class="custom-body container-xxl flex-grow-1 container-p-y">
      <h2>조직도</h2>
      <div id="chart-container"></div>
    </div>
  </th:block>

  <!-- 3. myScript -->
  <th:block layout:fragment="myScript">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/orgchart/3.8.0/js/jquery.orgchart.min.js"></script>
    <script src="/js/orgchart/orgchart.js"></script>
  </th:block>

</th:block>