<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
<body>
	<th:block layout:fragment="content">
		<div class="custom-body container-xxl flex-grow-1 container-p-y">
			<div class="d-flex justify-content-between">
			<input type="hidden" th:value="${#authentication.name}" id="currentUserId">
			<input type="hidden" th:value="${#authentication.principal.empName}" id="currentUserName">
			<form class="d-flex" style="max-width: 300px;">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchKeyword" th:value="${searchKeyword}">
				<button class="btn btn-outline-primary" type="submit">Search</button>
			</form>
			<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#create-notice">글쓰기</button>
			</div>
			<br>
			<!-- Basic Bootstrap Table -->
			<div class="card">
			    <div class="table-responsive text-nowrap">
			        <table class="table">
			            <thead>
			                <tr>
			                    <th data-key="noticeId" onclick="allineTable(this)" style="width:1%;">
			                    	번호<i id="sort-icon-noticeId" class="fa-solid fa-sort sort-icon"></i>
			                    </th>
			                    <th data-key="noticeTitle" onclick="allineTable(this)"style="width:30%;">
			                    	제목<i id="sort-icon-noticeId" class="fa-solid fa-sort sort-icon"></i>
			                    </th>
			                    <th style="width:5%;">작성자</th>
			                    <th data-key="createdDate" onclick="allineTable(this)" style="width:5%;">
			                    	등록일<i id="sort-icon-noticeId" class="fa-solid fa-sort sort-icon"></i>
			                    </th>
			                    <th data-key="updatedDate" onclick="allineTable(this)"style="width:5%;">
			                    	수정일<i id="sort-icon-noticeId" class="fa-solid fa-sort sort-icon"></i>
			                    </th>
			                    <th style="width:5%;">상세</th>
			                </tr>
			            </thead>
			            <tbody class="table-border-bottom-0">
			            	<th:block th:each="notice : ${noticeDTOList}">
				                <tr th:style="${notice.noticeYN == 'Y'} ? 'background-color: #008dff1a;' : ''">
				                	<td th:text="${notice.noticeId}"></td>
				                	<td th:text="${notice.noticeTitle}"></td>
				                	<td th:text="${notice.empName}"></td>
				                	<!-- 로컬데이트타임은 #temporals.format사용 -->
									<td th:text="${#temporals.format(notice.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
									<td th:text="${#temporals.format(notice.updatedDate, 'yyyy-MM-dd HH:mm')}"></td>
				                	<td>
			                            <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#show-notice"
			                            	th:data-notice-id = "*{notice.noticeId}">
			                                보기
			                            </button>
				                	</td>
				                </tr>
			                </th:block>
			            </tbody>
			        </table>
			    </div>
			    <div>
					<div class="layout-demo-info" style="display: flex; justify-content: center;">
						<nav aria-label="Page navigation" >
							<ul class="pagination ">
								<li class="page-item first" th:classappend="${currentPage == 0} ? 'disabled'">
									<a class="page-link" th:href="@{/notices(page=0, searchKeyword=${searchKeyword}, orderKey=${orderKey}, orderMethod=${orderMethod})}"><i class="tf-icon bx bx-chevrons-left"></i></a>
								</li>
								<li class="page-item prev" th:classappend="${currentPage == 0} ? 'disabled'">
									<a class="page-link" th:href="@{/notices(page=${currentPage - 1}, searchKeyword=${searchKeyword}, orderKey=${orderKey}, orderMethod=${orderMethod})}"><i class="tf-icon bx bx-chevron-left"></i></a>
								</li>
								<!-- 앞뒤로 2페이지씩 보이기 -->
								<li class="page-item"
								    th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
								    th:if="${i >= currentPage - 2 and i <= currentPage + 2}"
								    th:classappend="${i == currentPage} ? 'active'">
								    <a class="page-link" th:href="@{/notices(page=${i}, searchKeyword=${searchKeyword}, orderKey=${orderKey}, orderMethod=${orderMethod})}" th:text="${i + 1}"></a>
								</li>
								<li class="page-item next" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
									<a class="page-link" th:href="@{/notices(page=${currentPage + 1}, searchKeyword=${searchKeyword}, orderKey=${orderKey}, orderMethod=${orderMethod})}"><i class="tf-icon bx bx-chevron-right"></i></a>
								</li>
								<li class="page-item last" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
									<a class="page-link" th:href="@{/notices(page=${totalPages - 1}, searchKeyword=${searchKeyword}, orderKey=${orderKey}, orderMethod=${orderMethod})}"><i class="tf-icon bx bx-chevrons-right"></i></a>
								</li>
							</ul>
						</nav>
					</div>
			    </div>
			</div>
			<!--/ Basic Bootstrap Table -->
			
			<!-- 모달구역 -->
			
			<!-- 공지쓰기모달 -->
			<div class="modal fade" id="create-notice" tabindex="-1" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<!-- 모달 제목 -->
						<div class="modal-header">
							<h5 class="modal-title" id="modalCenterTitle"><font dir="auto" style="vertical-align: inherit;">
								<font dir="auto" style="vertical-align: inherit;">공지사항 쓰기</font></font>
							</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫다"></button>
						</div>
						<!-- 모달 본문 -->
						<div class="modal-body">
							<form id="notice-write-form" action="/notices" method="post">
								<div class="mb-3" style="display:flex; gap:8px;">
								    <input type="text" class="form-control" id="notice-title-write" name="noticeTitle" placeholder="제목" style="flex:1;">
								    <label class="form-check-label" for="fixedCheck">고정</label>
								    <input class="form-check-input" type="checkbox" name="noticeYN" value="Y">
								</div>
							    <div class="mb-3">
							        <textarea id="notice-content-write" name="noticeContent" class="form-control" rows="10" placeholder="공지사항 내용 작성"></textarea>
							    </div>
							    <div>
									<label for="formFileDisabled" class="form-label">파일 첨부</label>
									<input class="form-control" type="file" id="notice-files-write" multiple>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
								<font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">
									닫기
								</font></font>
							</button>
							<button type="submit" class="btn btn-primary" form="notice-write-form">
								<font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">글 쓰기</font></font>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /공지쓰기모달 -->
			
			<!-- 공지조회모달 -->
			<div class="modal fade" id="show-notice" tabindex="-1" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<!-- 모달 제목 -->
						<div class="modal-header">
							<h5 class="modal-title" id="modalCenterTitle"><font dir="auto" style="vertical-align: inherit;">
								<font dir="auto" style="vertical-align: inherit;">공지사항 조회</font></font>
							</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫다"></button>
						</div>
						<!-- 모달 본문 -->
						<div class="modal-body">
							<form id="notice-form-read" action="" >
								<div class="mb-3" style="display:flex; gap:8px;">
								    <input type="hidden" class="form-control" id="notice-id-read" name="noticeId">
								    <input type="hidden" class="form-control" id="notice-createdUser-read" name="createdUser">
								    <input type="text" class="form-control" id="notice-title-read" name="noticeTitle" placeholder="제목" style="flex:1;">
								    <label class="form-check-label" for="fixed-check">고정</label>
								    <input class="form-check-input" type="checkbox" value="Y" id="fixed-check" name="noticeYN" onchange="toggleValue(this)">
								</div>
								<div class="d-flex align-items-center mb-3 justify-content-between">
									<div class="d-flex ">
										<span class="" >등록자 : </span>
										<span class="ml-2" id="notice-writer-read">인사 신필용</span>
									</div>
									<div class="d-flex ml-auto">
									    <div class="d-flex mr-3">
									      <span>등록일 : </span>
									      <span id="notice-createdDate-read" class="ml-2">2024-10-01 14:30</span>
									    </div>
									    <div class="d-flex">
									      <span>수정일 : </span>
									      <span id="notice-updatedDate-read" class="ml-2">2024-10-01 14:30</span>
									    </div>
									</div>
								</div>
							    <div class="mb-3">
							        <textarea id="notice-content-read" class="form-control" rows="10" placeholder="공지사항 내용 작성" name="noticeContent"></textarea>
							    </div>
							    <div>
									<label for="formFileDisabled" class="form-label">파일 첨부</label>
									<input class="form-control" type="file" id="formFileDisabled" multiple>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
								<font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">
									닫기
								</font></font>
							</button>
							<button type="button" class="btn btn-danger btn-outline-secondary" data-bs-dismiss="modal" id="notice-delete">
								<font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">
									삭제
								</font></font>
							</button>
							<button type="submit" class="btn btn-primary" id="notice-modify" form="notice-form-read">
								<font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">
								수정</font></font>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /공지조회모달 -->
		<!-- body 끝 -->	
		</div>
		<script src="/js/notice/notice.js"></script>
	</th:block>
</body>
