<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
<body>
	<th:block layout:fragment="content">
		<div class="custom-body container-xxl flex-grow-1 container-p-y">
			<div class="d-flex justify-content-between">
			<form class="d-flex" onsubmit="return false" style="max-width: 300px;">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-primary" type="submit">Search</button>
			</form>
			<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#createNotice">글쓰기</button>
			</div>
			<br>
			<!-- Basic Bootstrap Table -->
			<div class="card">
			    <div class="table-responsive text-nowrap">
			        <table class="table">
			            <thead>
			                <tr>
			                    <th>번호</th>
			                    <th>제목</th>
			                    <th>작성자</th>
			                    <th>대상</th>
			                    <th>상세</th>
			                </tr>
			            </thead>
			            <tbody class="table-border-bottom-0">
			                <tr style="background-color: #e4bcd5;">
			                    <td>1</td>
			                    <td>2025 하반기 주요 감사 일정 안내</td>
			                    <td>김관리</td>
			                    <td><span class="badge bg-label-primary me-1">전체</span></td>
			                    <td>
			                        <div class="dropdown">
			                            <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#showNotice">
			                                보기
			                            </button>
			                        </div>
			                    </td>
			                </tr>
			                <tr style="background-color: #e4bcd5;">
			                    <td>2</td>
			                    <td>10월의 우수 사원</td>
			                    <td>김관리</td>
			                    <td><span class="badge bg-label-primary me-1">전체</span></td>
			                    <td>
			                        <div class="dropdown">
			                            <button type="button" class="btn btn-info btn-sm">
			                                보기
			                            </button>
			                        </div>
			                    </td>
			                </tr>
			                <tr style="background-color: #e4bcd5;">
			                    <td>3</td>
			                    <td>중앙 엘리베이터 수리 기간</td>
			                    <td>김관리</td>
			                    <td><span class="badge bg-label-primary me-1">전체</span></td>
			                    <td>
			                        <div class="dropdown">
			                            <button type="button" class="btn btn-info btn-sm">
			                                보기
			                            </button>
			                        </div>
			                    </td>
			                </tr>
			                <tr>
			                    <td>11</td>
			                    <td>2025 중반기 주요 감사 일정 안내</td>
			                    <td>김관리</td>
			                    <td><span class="badge bg-label-primary me-1">전체</span></td>
			                    <td>
			                        <div class="dropdown">
			                            <button type="button" class="btn btn-info btn-sm">
			                                보기
			                            </button>
			                        </div>
			                    </td>
			                </tr>
			                <tr>
			                    <td>12</td>
			                    <td>7월의 우수 사원</td>
			                    <td>김관리</td>
			                    <td><span class="badge bg-label-primary me-1">전체</span></td>
			                    <td>
			                        <div class="dropdown">
			                            <button type="button" class="btn btn-info btn-sm">
			                                보기
			                            </button>
			                        </div>
			                    </td>
			                </tr>
			                <tr>
			                    <td>13</td>
			                    <td>급식업체 변경 알림</td>
			                    <td>김관리</td>
			                    <td><span class="badge bg-label-primary me-1">전체</span></td>
			                    <td>
			                        <div class="dropdown">
			                            <button type="button" class="btn btn-info btn-sm">
			                                보기
			                            </button>
			                        </div>
			                    </td>
			                </tr>
			            </tbody>
			        </table>
			    </div>
			    <div>
					<div class="layout-demo-info" style="display: flex; justify-content: center;">
						<nav aria-label="Page navigation" >
							<ul class="pagination ">
								<li class="page-item first">
									<a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left"></i></a>
								</li>
								<li class="page-item prev">
									<a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i></a>
								</li>
								<li class="page-item">
									<a class="page-link" href="javascript:void(0);">1</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="javascript:void(0);">2</a>
								</li>
								<li class="page-item active">
									<a class="page-link" href="javascript:void(0);">3</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="javascript:void(0);">4</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="javascript:void(0);">5</a>
								</li>
								<li class="page-item next">
									<a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i></a>
								</li>
								<li class="page-item last">
									<a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i></a>
								</li>
							</ul>
						</nav>
					</div>
			    </div>
			</div>
			<!--/ Basic Bootstrap Table -->
			
			<!-- 모달구역 -->
			
			<!-- 공지쓰기모달 -->
			<div class="modal fade" id="createNotice" tabindex="-1" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<!-- 모달 제목 -->
						<div class="modal-header">
							<h5 class="modal-title" id="modalCenterTitle"><font dir="auto" style="vertical-align: inherit;">
								<font dir="auto" style="vertical-align: inherit;">공지사항 쓰기</font></font>
							</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫다"></button>
						</div>
						<!-- 모달 본문 -->
						<div class="modal-body">
							<form id="noticeForm">
								<div class="mb-3" style="display:flex; gap:8px;">
								    <input type="text" class="form-control" id="notice-title-write" placeholder="제목" style="flex:1;">
								    <label class="form-check-label" for="fixedCheck">고정</label>
								    <input class="form-check-input" type="checkbox" value="" id="fixedCheck" checked="">
								</div>
							    <div class="mb-3">
							        <textarea id="notice-content-write" class="form-control" rows="10" placeholder="공지사항 내용 작성"></textarea>
							    </div>
							    <div>
									<label for="formFileDisabled" class="form-label">파일 첨부</label>
									<input class="form-control" type="file" id="notice-files-write" multiple>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
								<font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">
									닫기
								</font></font>
							</button>
							<button type="submit" class="btn btn-primary" form="noticeForm">
								<font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">글 쓰기</font></font>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /공지쓰기모달 -->
			
			<!-- 공지조회모달 -->
			<div class="modal fade" id="showNotice" tabindex="-1" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<!-- 모달 제목 -->
						<div class="modal-header">
							<h5 class="modal-title" id="modalCenterTitle"><font dir="auto" style="vertical-align: inherit;">
								<font dir="auto" style="vertical-align: inherit;">공지사항 조회</font></font>
							</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫다"></button>
						</div>
						<!-- 모달 본문 -->
						<div class="modal-body">
							<form id="noticeForm">
	<!-- 							<div class="mb-3"> -->
	<!-- 								<label for="defaultSelect" class="form-label">Default select</label> -->
	<!-- 								<select id="defaultSelect" class="form-select"> -->
	<!-- 									<option>Default select</option> -->
	<!-- 									<option value="1">One</option> -->
	<!-- 									<option value="2">Two</option> -->
	<!-- 									<option value="3">Three</option> -->
	<!-- 								</select> -->
	<!-- 							</div> -->
								<div class="mb-3" style="display:flex; gap:8px;">
								    <input type="text" class="form-control" id="notice-title-read" placeholder="제목" style="flex:1;">
								    <label class="form-check-label" for="fixedCheck">고정</label>
								    <input class="form-check-input" type="checkbox" value="" id="fixedCheck" checked="">
								</div>
								<div class="mb-3" style="display:flex; gap:2px;">
									<p class="" style="flex:1;">인사 신필용</p>
									<p class="" style="flex:1;">2024-10-01 14:30</p>
								</div>
							    <div class="mb-3">
							        <textarea id="notice-content-read" class="form-control" rows="10" placeholder="공지사항 내용 작성"></textarea>
							    </div>
							    <div>
									<label for="formFileDisabled" class="form-label">파일 첨부</label>
									<input class="form-control" type="file" id="formFileDisabled" multiple>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
								<font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">
									닫기
								</font></font>
							</button>
							<button type="button" class="btn btn-primary" id="notice-modify">
								<font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">
								수정</font></font>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /공지조회모달 -->
		<!-- body 끝 -->	
		</div>
	</th:block>
</body>
