<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{/layouts/layout.html}">

  <!-- 하나의 fragment 안에 전부 포함 -->
  <th:block layout:fragment="content">
    <!-- CSS -->
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css">

    <div class="custom-body container-xxl flex-grow-1 container-p-y">
      <h2>사원 목록</h2>

      <!-- 검색 바 -->
      <div class="row align-items-center g-2 mb-3">
        <div class="col-12 col-lg-9">
          <form class="row g-2 align-items-center" onsubmit="return false" role="search">
            <div class="col-12 col-md-auto">
              <input class="form-control" id="kw" type="search"
                     placeholder="사번 / 성명 / 부서 / 직급 / 이메일 검색" style="width:280px;">
            </div>
            <div class="col-6 col-md-auto">
              <select class="form-select" id="deptId">
                <option value="">부서 전체</option>
                <option>개발부</option>
                <option>마케팅부</option>
                <option>생산부</option>
                <option>영업부</option>
                <option>인사부</option>
              </select>
            </div>
            <div class="col-6 col-md-auto d-grid">
              <button class="btn btn-outline-primary" id="btnSearch" type="button">Search</button>
            </div>
          </form>
        </div>
        <div class="col-12 col-lg-3 d-grid d-lg-flex justify-content-lg-end">
          <a href="/emp/regist" class="btn btn-primary">인사 등록</a>
        </div>
      </div>

      <!-- 그리드 DOM 반드시 포함 -->
      <div id="grid" style="height:600px;"></div>
    </div>

    <!-- JS -->
    <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
	<script src="/js/emp/empList.js"></script>
  </th:block>