<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
<body>
<th:block layout:fragment="content">
	<div class="custom-body container-xxl flex-grow-1 container-p-y">
	
	<h2>인사 신규 등록</h2>

  <form><!-- 지금은 뷰 확인용이라 action 없음 -->

    <!-- 상단 2컬럼 카드 -->
    <div class="row g-4 mb-5">
      <!-- 기본정보 -->
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title mb-3">기본정보</h5>

            <div class="row g-3">
              <div class="col-12 col-md-6">
                <label class="form-label" for="empName">이름</label>
                <input type="text" class="form-control" id="empName" placeholder="홍길동">
              </div>
              <div class="col-12 col-md-6">
                <label class="form-label" for="empNo">사번</label>
                <input type="text" class="form-control" id="empNo" placeholder="20250101001">
              </div>
            </div>

            <div class="row g-3 mt-0">
              <div class="col-12 col-md-6">
                <label class="form-label" for="gender">성별</label>
                <select class="form-select" id="gender">
                  <option value="">선택</option>
                  <option>남</option>
                  <option>여</option>
                </select>
              </div>
              <div class="col-12 col-md-6">
                <label class="form-label" for="hireDate">입사일</label>
                <input type="date" class="form-control" id="hireDate">
              </div>
            </div>

            <div class="row g-3 mt-0">
              <div class="col-12 col-md-6">
                <label class="form-label" for="ssn">주민등록번호</label>
                <input type="text" class="form-control" id="ssn" placeholder="000000-0000000" inputmode="numeric">
              </div>
              <div class="col-12 col-md-6">
                <label class="form-label" for="photo">사원 사진</label>
                <input type="file" class="form-control" id="photo">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 연락/계정 -->
		<div class="col-md-6">
		  <div class="card h-100">
		    <div class="card-body">
		      <h5 class="card-title mb-3">연락/계정</h5>
		
		      <!-- 이메일 / 연락처 -->
		      <div class="row g-3">
		        <div class="col-12 col-md-6">
		          <label class="form-label" for="email">이메일</label>
		          <input type="email" class="form-control" id="email" placeholder="name@company.com">
		        </div>
		        <div class="col-12 col-md-6">
		          <label class="form-label" for="phone">연락처</label>
		          <input type="tel" class="form-control" id="phone" placeholder="010-1234-5678">
		        </div>
		      </div>
		
		      <!-- 주소 -->
		      <div class="row g-3 mt-0">
		        <div class="col-12">
		          <label class="form-label">주소</label>
		
		          <!-- 우편번호 + 검색버튼 -->
		          <div class="input-group mb-2">
		            <input type="text" class="form-control" id="zipcode" placeholder="우편번호">
		            <button class="btn btn-outline-secondary" type="button" id="btnSearchZip">검색</button>
		          </div>
		
		          <!-- 기본주소 -->
		          <input type="text" class="form-control mb-2" id="address" placeholder="도로명 주소">
		
		          <!-- 상세주소 -->
		          <input type="text" class="form-control" id="addressDetail" placeholder="상세 주소">
		        </div>
		      </div>
		
		    </div>
		  </div>
		</div>
    </div>

    <!-- 조직/직무 -->
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title mb-3">조직/직무</h5>

        <div class="row g-3">
          <div class="col-12 col-md-4">
            <label class="form-label" for="empType">종류</label>
            <select class="form-select" id="empType">
              <option value="">선택</option>
              <option>ERP</option>
              <option>MES</option>
            </select>
          </div>
          <div class="col-12 col-md-4">
            <label class="form-label" for="dept">부서</label>
            <select class="form-select" id="dept">
              <option value="">선택</option>
              <option>개발부</option>
              <option>마케팅부</option>
              <option>생산부</option>
              <option>영업부</option>
              <option>인사부</option>
            </select>
          </div>
          <div class="col-12 col-md-4">
            <label class="form-label" for="position">직급</label>
            <select class="form-select" id="position">
              <option value="">선택</option>
              <option>대리</option>
              <option>과장</option>
              <option>차장</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- 급여통장 정보 -->
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title mb-3">급여통장 정보</h5>

        <div class="row g-3">
          <div class="col-12 col-md-6">
            <label class="form-label" for="bank">은행</label>
            <select class="form-select" id="bank">
              <option value="">선택</option>
              <option>신한은행</option>
              <option>국민은행</option>
              <option>우리은행</option>
            </select>
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label" for="accountNo">계좌번호</label>
            <input type="text" class="form-control" id="accountNo" placeholder="123-456-789012">
          </div>
        </div>

        <div class="row g-3 mt-0">
          <div class="col-12 col-md-6">
            <label class="form-label" for="accountHolder">예금주</label>
            <input type="text" class="form-control" id="accountHolder" placeholder="홍길동">
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label" for="bankFile">통장사본 첨부</label>
            <input type="file" class="form-control" id="bankFile">
          </div>
        </div>
      </div>
    </div>

    <!-- 버튼 (뷰 확인용) -->
    <div class="d-flex justify-content-end gap-2">
      <a href="/emp/list" class="btn btn-outline-secondary">취소</a>
      <button type="button" class="btn btn-primary">저장</button>
    </div>
  </form>
    
	</div>
</th:block>
</body>
