<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:fragment="nav">
	<head>
	<style>
	</style>
	</head>
		<nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <ul class="navbar-nav flex-row align-items-center ms-auto dropdown">
              	<li class="nav-item lh-1 me-3">
              		<span id="badge_payment" style="
				            position: relative;
						    top: -12px;
						    left: 45px;
						    background-color: red;
						    color: rgb(255, 255, 255);
						    border-radius: 15px;
						    padding: 3px 8px;
						    border-color: rgb(255, 255, 255);
						    font-size: 12px;
						    display: none;
				  	"></span>
                    <i class="icon-base bx bx-folder icon" data-bs-toggle="dropdown" id="payment"></i> 
				    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					  <li><a class="dropdown-item" href="#">Action</a></li>
					  <li><a class="dropdown-item" href="#">Another action</a></li>
					  <li><a class="dropdown-item" href="#">Something else here</a></li>
					  <li><hr class="dropdown-divider"></li>
					  <li><a class="dropdown-item" href="#">Separated link</a></li>
					</ul>
                </li>
              	<li class="nav-item lh-1 me-3"> 
              	<span id="badge_bell" style="
				         position: relative;
						 top: -12px;
						 left: 45px;
						 background-color: red;
						 color: rgb(255, 255, 255);
						 border-radius: 15px;
						 padding: 3px 8px;
						 border-color: rgb(255, 255, 255);
						 font-size: 12px;
						 display: none;
				  "></span>
                   <i class="icon-base bx bx-bell icon" data-bs-toggle="dropdown" id="bell"></i>  
                   <ul class="dropdown-menu">
					  <li><a class="dropdown-item" href="#">bell</a></li>
					  <li><a class="dropdown-item" href="#">알림</a></li>
					  <li><a class="dropdown-item" href="#">공지사항</a></li>
					  <li><hr class="dropdown-divider"></li>
					  <li><a class="dropdown-item" href="#">집중</a></li>
					</ul>
                </li>
              	<li class="nav-item lh-1 me-3">
              		<span id="badge_chat" style="
				        position: relative;
						top: -12px;
						left: 45px;
						background-color: blue;
						color: rgb(255, 255, 255);
						border-radius: 15px;
						padding: 3px 8px;
						border-color: rgb(255, 255, 255);
						font-size: 12px;
						display: none;
				  	"></span>
                   <i class="icon-base bx bx-chat icon" data-bs-toggle="dropdown" id="chat"></i>
                   <ul class="dropdown-menu">
					  <li><a class="dropdown-item" href="#">점심시간입니다.</a></li>
					  <li><a class="dropdown-item" href="#">퇴근 시간입니다.</a></li>
					  <li><a class="dropdown-item" href="#">무슨 커피드실래요</a></li>
					  <li><hr class="dropdown-divider"></li>
					  <li><a class="dropdown-item" href="#">헤이즐럿라떼요</a></li>
					</ul>
                </li>
                <li class="nav-item lh-1 me-3">
                    <a class="nav-font-size" id="name">이름 (사번)</a>
                </li>
                <li class="nav-item lh-1 me-3">
                    <a class="nav-font-size" id="login">login</a>
                </li>
              </ul>
            </div>
          </nav>
		  <script>
			//Resources
		  
         	const payment = document.getElementById("payment");
      		const bell = document.getElementById("bell");
      		const chat = document.getElementById("chat");
          	const nameTag = document.getElementById("name");
        	const loginTag = document.getElementById("login");
        	   
        	const badgePayment = document.getElementById("badge_payment");
        	const badgeBell = document.getElementById("badge_bell");
        	const badgeChat = document.getElementById("badge_chat");
            this.pamentCount = 0;
            this.bellCount = 0;
            this.chatCount = 0;

    		payment.addEventListener("click",()=>{
    			
    		    if(badgePayment.style.display === 'none'){
    		    	this.pamentCount += 1;
    		    	badgePayment.textContent = this.pamentCount;
    		    	badgePayment.style.display = 'unset';
    		    }else {
    		    	badgePayment.style.display = 'none';
    		    }
    		});

    		
    		bell.addEventListener("click",()=>{
    			if(badgeBell.style.display === 'none'){
       		    	this.bellCount += 1;
       		    	badgeBell.textContent = this.bellCount;
       		    	badgeBell.style.display = 'block';
       		    }else {
       		    	badgeBell.style.display = 'none';
       		    }
      		});
    		
    		chat.addEventListener("click",()=>{
    			if(badgeChat.style.display === 'none')  {
          		   	this.chatCount += 1;
          		   	badgeChat.textContent = this.chatCount;
          		   	badgeChat.style.display = 'block';
          		}else {
          			badgeChat.style.display = 'none';
          		}
      		});
   
           	nameTag.addEventListener("click",function() {
        		if(nameTag.innerText === '이름 (사번)') nameTag.innerText = '사용자 정보';
        	    else nameTag.innerText = '이름 (사번)';
        	});
   
           	loginTag.addEventListener("click",function() {
        		if(loginTag.innerText === 'login') loginTag.innerText = 'logout';
        	    else loginTag.innerText = 'login';
        	});
        	    	 
          </script>
</th:block>