<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:fragment="aside">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
          	<a th:href="@{/main}">
            	<img th:src="@{/icon/yeoun-logo.png}" width="190"/>
            </a>
          </div>
          <!-- data-i18n : 다국어 지원 -->
          <ul class="menu-inner py-1">
            <!-- 메인화면 -->
            <li class="menu-item" id="main">
                <a href="/main" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div data-i18n="Analytics">Main</div>
                </a>
            </li>
            <!-- 공지사항 -->
            <li class="menu-item" id="notice" >
                <a href="/notice" class="menu-link">
                    <i class="fa-solid fa-bullhorn"></i> 
                    <div data-i18n="Analytics">공지사항</div>
                </a>
            </li>
<!--             <li class="menu-item active"> -->
<!--               <a href="index.html" class="menu-link"> -->
<!--                 <i class="menu-icon tf-icons bx bx-home-circle"></i> -->
<!--                 <div data-i18n="Analytics">미리보기</div> -->
<!--               </a> -->
<!--             </li> -->

            <li class="menu-header small text-uppercase">
              <!-- <span class="menu-header-text">ERP</span> -->
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Human Resources Management">인사관리</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="/emp/list" class="menu-link" target="_blank">
                            <div data-i18n="Menu1">사원 목록</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/emp/appointment" class="menu-link" target="_blank">
                            <div data-i18n="Menu2">인사 발령</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link" target="_blank">
                            <div data-i18n="Menu3">조직도</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Attendance management">근태관리</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="/attendance/my" class="menu-link">
                            <div data-i18n="Menu2" class="menu-link-sub">출/퇴근 현황</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/leave/my" class="menu-link">
                            <div data-i18n="Menu2" class="menu-link-sub">연차 현황</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/attendance/list" class="menu-link">
                            <div data-i18n="Menu1" class="menu-link-sub">사원 출/퇴근 현황</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/leave/list" class="menu-link">
                            <div data-i18n="Menu1" class="menu-link-sub">사원 연차 현황</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/attendance/policy" class="menu-link">
                            <div data-i18n="Menu1" class="menu-link-sub">근무 정책 관리</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="/approval/approval_doc" class="menu-link">
                    <div data-i18n="Electronic Approval">전자결재</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="/approval/approval_doc" class="menu-link" target="_blank">
                            <div data-i18n="Menu1" class="menu-link-sub">Menu1</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link" target="_blank">
                            <div data-i18n="Menu2" class="menu-link-sub">menu2</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link" target="_blank">
                            <div data-i18n="Menu3" class="menu-link-sub">menu3</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Salary management">급여관리</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                         <a th:href="@{/pay/rule}" class="menu-link">
                            <div data-i18n="Menu1" class="menu-link-sub">기준정보</div>
                        </a>
                    </li>
                    <li class="menu-item">
                         <a th:href="@{/pay/payroll_payslip}" class="menu-link">
                            <div data-i18n="Menu2" class="menu-link-sub">급여계산</div>
                        </a>
                    </li>
                    <li class="menu-item">
                    <a th:href="@{/pay/emp_pay}" class="menu-link"> 
                            <div data-i18n="Menu3" class="menu-link-sub">급여지급</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <div data-i18n="Setting" class="menu-link-sub">Setting</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="" class="menu-link" target="_blank">
                            <div data-i18n="Menu1" class="menu-link-sub">menu1</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link" target="_blank">
                            <div data-i18n="Menu2" class="menu-link-sub">menu2</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link" target="_blank">
                            <div data-i18n="Menu3" class="menu-link-sub">menu3</div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
</th:block>
