@charset "UTF-8";

/* 모눈 배경 삭제 */
.orgchart {
	background-image: none !important;
}

/* 조직도 중앙 배치 */
#chart-container {
	display: flex;
	justify-content: center;
}

/* 접기/펼치기 화살표/엣지 숨기기 */
.orgchart .node .verticalEdge,
.orgchart .node .horizontalEdge,
.orgchart .node .topEdge,
.orgchart .node .bottomEdge,
.orgchart .node .leftEdge,
.orgchart .node .rightEdge {
	display: none !important;
}

/* CEO */
.orgchart .node.dept-ceo .title {
  background-color: #ffd4d4 !important;
  border-color: #ff9f9f !important;
}

/* 개발팀 */
.orgchart .node.dept-dev .title {
  background-color: #ffe6c7 !important;
  border-color: #ffb65c !important;
}

/* 인사팀 */
.orgchart .node.dept-hr .title {
  background-color: #d7eaff !important;
  border-color: #83b8ff !important;
}

/* 영업팀 */
.orgchart .node.dept-sales .title {
  background-color: #ffd6e7 !important;
  border-color: #ff88b5 !important;
}

/* 공통 content 영역 (아래부분) */
.orgchart .node .content {
  background-color: #fff !important;
}


/* 선 색깔 */
/* 1. 세로선 중 윗선 */
.orgchart .node:not(:only-child)::after {
  background-color: #828282 !important;
}

/* 2. 세로선 중 아랫선 */
.orgchart ul li ul li .node::before {
  background-color: #828282 !important;
}

/* 3. 형제 노드 연결 가로선 */
.orgchart ul>li::before,
.orgchart ul>li::after {
  border-top: 2px solid #828282 !important;
}

/* 4. 노드 박스 테두리 */
.orgchart .node .content {
  border-color: #828282 !important;
}

/* 메뉴 아이콘 제거 */
.oci-menu,
.oci-menu:before {
  display: none !important;
  content: "" !important;
}
