@charset "UTF-8";

.orgchart {
	background-image: none !important;
}

#chart-container {
	display: flex;
	justify-content: center;
}

/* 접기/펼치기 화살표/엣지 숨기기 */
.orgchart .node .verticalEdge,
.orgchart .node .horizontalEdge,
.orgchart .node .topEdge,
.orgchart .node .bottomEdge,
.orgchart .node .leftEdge,
.orgchart .node .rightEdge {
	display: none !important;
}