<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout.html}">
<body>
<th:block layout:fragment="content">
	<div class="custom-body container-xxl flex-grow-1 container-p-y">
	
	<h2>사원 목록</h2>
	
	<div class="table-responsive">
	  <table class="table mb-0">
	    <thead>
	      <tr>
	        <th>입사일자</th>
	        <th>사번</th>
	        <th>성명</th>
	        <th>부서</th>
	        <th>직급</th>
	        <th>전화번호</th>
	        <th>Email</th>
	        <th>상세</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	      	<td>25050308</td>
	      	<td>2503485</td>
	      	<td>홍길동</td>
	      	<td>인사부</td>
	      	<td>대리</td>
	      	<td>010-1234-5678</td>
	      	<td>hong@hong.com</td>
	      	<td>
	      		<button type="button" class="btn btn-info btn-sm">상세</button>
	      	</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	
	</div>
</th:block>
</body>
