<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeoun.approval.mapper.ApprovalFormMapper">

	<!-- 결재문서 그리드1 - 결재사항 불러오기 -->	
	<select id="searchApprvalDocGrid1" resultType="com.yeoun.approval.dto.ApprovalDocDTO">
	   SELECT 
		               ROWNUM AS row_no
		             , ade.approval_id
		             , ade.approval_title
                     , ade.form_type
		             , ade.emp_id
		             , ade.emp_name
		             , ade.dept_id
		             , ade.dept_name
		             , ade.approver
		             , e.emp_name AS approver_name
		             , ade.pos_code
		             , ade.pos_name
		             , ade.created_date
		             , ade.finish_date
		             , ade.start_date
		             , ade.end_date
		             , ade.leave_type
		             , ade.to_dept_id
		             , ade.expnd_type
		             , ade.reason
		             , ade.doc_status
		        FROM emp e
		           , (
		                SELECT
		                       ad.approval_id
		                     , ad.approval_title
                             , ad.form_type
		                     , ad.emp_id
		                     , e.emp_name
		                     , e.dept_id
		                     , d.dept_name
		                     , ad.approver
		                     , p.pos_code
		                     , p.pos_name
		                     , ad.created_date
		                     , ad.finish_date
		                     , ad.start_date   -- 휴가 시작
		                     , ad.end_date     -- 휴가 종료
		                     , ad.leave_type   -- 휴가 유형
		                     , ad.to_dept_id   -- 발령 부서
		                     , ad.expnd_type   -- 지출 종류
		                     , ad.reason       -- 사유
		                     , ad.doc_status
		                FROM approval_doc ad
		                   , emp e
		                   , dept d
		                   , position p
		                WHERE ad.emp_id = e.emp_id
		                  AND e.dept_id = d.dept_id
		                  AND e.pos_code = p.pos_code
		                  AND ad.approver = #{empId}      -- 결재권자 = 로그인 사번
		                  AND ad.doc_status NOT IN ('완료','반려') -- 진행중/대기만
		             ) ade
		        WHERE ade.approver = e.emp_id          -- 결재자 정보 조인
		        <if test="createDateFilter != null and createDateFilter != ''">
		        	AND ade.created_date = #{createDateFilter}
		        </if>
		        <if test="finishDateFilter != null and finishDateFilter != ''">
		        	AND ade.finish_date = #{finishDateFilter}
		        </if>
		        <if test="empNameTitleFilter != null and empNameTitleFilter != ''">
		        	AND (
		        		ade.emp_name LIKE '%' || #{empNameTitleFilter} || '%'
		        		OR ade.approval_title LIKE '%' || #{empNameTitleFilter} || '%'
		        	)
		        </if>
	</select>
	

</mapper>
